*{
  padding: 0px;
  margin: 0px;
}

.project-box{
  width: 1920px;
  height: 308px;  
  background-color: blue;
  position: relative;
}

.projects{
  display: inline-block;
  margin-top: 70px;
  margin-left: 240px;
}

.projects-name{
  text-align: left;
  font: normal bold 32px/39px Helvetica Neue;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: uppercase;
  opacity: 1;
}

.dots{
  display: inline-block;
  margin-left: 1185px;
}

.dot-1{
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  margin-right: 20px;
}

.other-dots{
  width: 10px;
  height: 10px;
  background-color: #FFFFFF;
  opacity: 0.3;
  display: inline-block;
  border-radius: 50%;
  margin-right: 20px;
}


.box{
  position: absolute;
  left: 240px;
  top: 198px;
}

.box2{
  position: absolute;
  left: 728px;
  top: 130px;
}

.box3{
  position: absolute;
  left: 1216px;
  top: 198px;

}

.box4{
  position: absolute;
  left: 1704px;
  top: 198px;
}


.photo-box-review{
  display: inline-block;
  
}

.photo{
  width: 463px;
  height: 420px;
  position: relative;
}

.review{
  display: inline-block;
  position: absolute;
  width: 443px;
  height: 125px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  top: 285px;
  background-color: #FFFFFF;
  border-radius: 12px;
}

.review-1{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: inline-block;
  position: absolute;
  width: 443px;
  height: 125px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  top: 285px;
}

.photo-review{
  text-align: left;
  font: normal normal normal 18px/22px Helvetica Neue;
  letter-spacing: 0px;
  color: #171717;
  text-transform: uppercase;
  opacity: 1;
  padding: 30px 74px 30px 30px;
}